{% extends "base.html.twig" %}

{% block extraACss %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="{{ baseUrlAbsolute }}/css/jquery.flex-images.css">
{% endblock %}

{% block body %}
    <div id="searchPopin" class="hide">
        <div class="container" style="margin-top: 1em">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="input-group">
                        <input id="inputSearch" type="text" class="form-control" placeholder="Search" value="{{ search }}">
                        <span id="goSearch" class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #searchPopin {
            text-align: center;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 11;
            background: rgba(0,0,0,0.7);
        }

        #header {
            width: 100%;
            z-index: 10;
            position: fixed;
            background: white;
            padding: 1em;
            font-weight: bold;
        }
        body {
            margin: 0;
        }

        #flex {
            padding-top: 5em;
            padding-left: 2em;
        }

        #flex .over {
            line-height: 1.5em;
            letter-spacing: -0.5px;
            font-weight: bold;
            font-family: roboto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 4px 6px;
            font-size: 13px;
            color: #fff;
            background: rgba(0,0,0,0.7);
            text-align: center;
        }

        .flex-images .item img {
            width: 100px;
            height: 160px;
        }

        #search {
            margin: 0 5px;
        }

        #flex a:focus > .item {
            border: 1px solid #e8b12c;
        }

        /* STARS */
        .star {
            font-size: 14px;
            width: 14px;
            display: inline-block;
            color: gray;
        }
        .star:after {
            content:'\2605';
            color: gold;
            position: absolute;
            margin-left: -12px;
            overflow: hidden;
        }
        .star:last-child {
            margin-right: 0;
        }
        .star:before {
            content:'\2605';
        }
        .star.star-1:after {
            width: 3px;
        }
        .star.star-2:after {
            width: 4px;
        }
        .star.star-3:after {
            width: 5px;
        }
        .star.star-4:after {
            width: 6px;
        }
        .star.star-5:after {
            width: 7px;
        }
        .star.star-6:after {
            width: 8px;
        }
        .star.star-7:after {
            width: 9px;
        }
        .star.star-8:after {
            width: 10px;
        }
        .star.star-9:after {
            width: 11px;
        }
        .star.star-empty:after, .star.star-0:after {
            width: 0px;
        }


        .sidenav {
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding: 5em 0;
        }

        .sidenav a {
            font-family: roboto;
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: #818181;
            display: block;
            letter-spacing: -0.5px;
            line-height: 1em;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }

        .sidenav ul {
            list-style-type:none;
            padding: 0;
        }

        .sidenav a:focus{
            color: #e8b12c !important;
        }

        img:not([src]) {
            visibility: hidden;
        }

        /* Fixes Firefox anomaly during image load */
        @-moz-document url-prefix() {
            img:-moz-loading {
                visibility: hidden;
            }
        }
    </style>

    <div id="header">
        <div class="pull-left">
            <button type="button" class="btn btn-secondary" tabindex="4">
                <a href="{{ baseUrlAbsolute ~ homeUrlAbsolute }}">
                    <i class="fa fa-home"></i>
                </a>
            </button>
            {{ catName }}
        </div>
        <div class="pull-right">
            <div class="btn-group" role="group">
                <button id="sortByName" type="button" class="btn btn-secondary" tabindex="2">
                    <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{% if sort == 2 %}1{% else %}2{% endif %}/{{ search }}">
                        <i class="fa fa-sort-alpha-asc"></i>
                    </a>
                </button>
                <button id="sortByRate" type="button" class="btn btn-secondary" tabindex="2">
                    <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{% if sort == 4 %}3{% else %}4{% endif %}/{{ search }}">
                        <i class="fa fa-star"></i>
                    </a>
                </button>
                <button id="sortByAdded"type="button" class="btn btn-secondary" tabindex="2">
                    <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{% if sort == 6 %}5{% else %}6{% endif %}v">
                        <i class="fa fa-clock-o"></i>
                    </a>
                </button>
            </div>
            <button id="search" type="button" class="btn btn-secondary" tabindex="3">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="sidenav col-sm-3 col-xs-3 col-md-2">
        <ul>
        {% for category in categories %}
            <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ category.id }}"
                style="{% if catName == category.name %}color:white{% endif %}">
                <li>{{ category.name }}</li>
            </a>
        {% endfor %}
        </ul>
    </div>
    <div id="flex" class="flex-images col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9 col-md-offset-2 col-md-10">
        {% for stream in streams %}
            <a href="{{ stream.streamLink }}"
               tabindex="1"
               class="item-link"
               data-name="{{ stream.name|lower }}"
               data-added="{{ stream.added.timestamp }}"
               data-rate="{{ stream.rating5based }}">
                <div class="item">
                    <img {% if loop.index > 50 %}data-{% endif %}src="{{ baseUrlAbsolute ~ stream.streamIcon }}"
                         alt="{{ stream.name }}"
                         title="{{ stream.name }}">
                    <div class="over">
                        {{ stream.name }}

                        {% set ratingDecimal = (stream.rating5based - stream.rating5based|round(0, 'floor')) * 10  %}

                        <div class="stars">
                        {% if stream.rating5based < 1 %}
                            <span class="star star-{{ ratingDecimal }}"></span>
                            <span class="star star-empty"></span><span class="star star-empty"></span><span class="star star-empty"></span><span class="star star-empty"></span>
                        {% elseif stream.rating5based < 2 %}
                            <span class="star"></span>
                            <span class="star star-{{ ratingDecimal }}"></span>
                            <span class="star star-empty"></span><span class="star star-empty"></span><span class="star star-empty"></span>
                        {% elseif stream.rating5based < 3 %}
                            <span class="star"></span><span class="star"></span>
                            <span class="star star-{{ ratingDecimal }}"></span>
                            <span class="star star-empty"></span><span class="star star-empty"></span>
                        {% elseif stream.rating5based < 4 %}
                            <span class="star"></span><span class="star"></span><span class="star"></span>
                            <span class="star star-{{ ratingDecimal }}"></span>
                            <span class="star star-empty"></span>
                        {% else %}
                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                            {% if stream.rating5based == 5 %}
                                <span class="star"></span>
                            {% else %}
                                <span class="star star-{{ ratingDecimal }}"></span>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        /*$('#sortByName').click(function() {
            $("#flex").html(sortAlphabetically($('.item-link'), 'name', $(this).data('toggle')));
            $(this).data('toggle', $(this).data('toggle') == 1 ? 0 : 1);
        })
        $('#sortByAdded').click(function() {
            $("#flex").html(sortAlphabetically($('.item-link'), 'added', $(this).data('toggle')));
            $(this).data('toggle', $(this).data('toggle') == 1 ? 0 : 1);
        });
        $('#sortByRate').click(function() {
            $("#flex").html(sortAlphabetically($('.item-link'), 'rate', $(this).data('toggle')));
            $(this).data('toggle', $(this).data('toggle') == 1 ? 0 : 1);
        });*/

        window.lazyLoadOptions = {
            threshold: 0
        };

        $('#search').click(function () {
            $('#searchPopin').removeClass('hide');
            $('#inputSearch').focus();
        });

        /*$('#inputSearch').on('input', function() {
            const search = $(this).val().toLowerCase();
            $('.item-link').each(function () {
                if ($(this).data('name').search(search) >= 0) {
                    $(this).removeClass('hide');
                } else {
                    $(this).addClass('hide');
                }
            })
        });*/

        $("#inputSearch").on('keyup', function (e) {
            if (e.keyCode === 13) {
                location.href = '{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{{ sort }}/' + $("#inputSearch").val();
            }
        });

        $('#goSearch, #searchPopin').click(function() {
            location.href = '{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{{ sort }}/' + $("#inputSearch").val();
        });

    </script>
    <script async src="{{ baseUrlAbsolute }}/js/lazyload.min.js"></script>
{% endblock %}
