{% extends "base.html.twig" %}

{% block body %}
    <style>
        .container {
            background: rgba(0,0,0,0.7);
        }

        .sidenav {
            position: absolute;
            z-index: 1;
            overflow-x: hidden;
            padding: 5em 0;
        }

        .sidenav a {
            font-family: roboto;
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: #818181;
            display: block;
            letter-spacing: -0.5px;
            line-height: 1em;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav ul {
            list-style-type:none;
            padding: 0;
        }

        .sidenav a:focus{
            color: #e8b12c !important;
        }

        p {
            margin: 5px 0em !important;
        }

        /* STARS */
        .star {
            font-size: 14px;
            width: 14px;
            display: inline-block;
            color: gray;
        }
        .star:after {
            content:'\2605';
            color: gold;
            position: absolute;
            margin-left: -12px;
            overflow: hidden;
        }
        .star:last-child {
            margin-right: 0;
        }
        .star:before {
            content:'\2605';
        }
        .star.star-1:after {
            width: 3px;
        }
        .star.star-2:after {
            width: 4px;
        }
        .star.star-3:after {
            width: 5px;
        }
        .star.star-4:after {
            width: 6px;
        }
        .star.star-5:after {
            width: 7px;
        }
        .star.star-6:after {
            width: 8px;
        }
        .star.star-7:after {
            width: 9px;
        }
        .star.star-8:after {
            width: 10px;
        }
        .star.star-9:after {
            width: 11px;
        }
        .star.star-empty:after, .star.star-0:after {
            width: 0px;
        }
        .star.star-empty{
            margin-left: -1px;
        }
        .stars {
            text-align: center;
        }

        td:nth-child(odd) {
            width: 30%;
            height: 3em;
        }
    </style>
    <div class="container" style="margin: 3em; width: auto">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 style="text-align: center;">{{ movie.name }}</h1>
            </div>
            <div style="position: relative;">
                <div class="sidenav col-md-3 col-sm-3 col-xs-3">
                    <img src="{{ baseUrlAbsolute ~ movie.image }}" width="100" height="160" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {% set rating5 = (movie.rating/2)|round(1)  %}
                        {% set ratingDecimal = (rating5 - rating5|round(0, 'floor')) * 10  %}

                        <div class="stars">
                            {% if rating5 < 1 %}
                                <span class="star star-{{ ratingDecimal }}"></span>
                                <span class="star star-empty"></span><span class="star star-empty"></span><span class="star star-empty"></span><span class="star star-empty"></span>
                            {% elseif rating5 < 2 %}
                                <span class="star"></span>
                                <span class="star star-{{ ratingDecimal }}"></span>
                                <span class="star star-empty"></span><span class="star star-empty"></span><span class="star star-empty"></span>
                            {% elseif rating5 < 3 %}
                                <span class="star"></span><span class="star"></span>
                                <span class="star star-{{ ratingDecimal }}"></span>
                                <span class="star star-empty"></span><span class="star star-empty"></span>
                            {% elseif rating5 < 4 %}
                                <span class="star"></span><span class="star"></span><span class="star"></span>
                                <span class="star star-{{ ratingDecimal }}"></span>
                                <span class="star star-empty"></span>
                            {% else %}
                                <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                {% if rating5 == 5 %}
                                    <span class="star"></span>
                                {% else %}
                                    <span class="star star-{{ ratingDecimal }}"></span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <a href="{{ vlcDeeplink ~ movie.streamLink }}">
                            <button class="btn btn-success" style="width: 100%;">
                                Play
                            </button>
                        </a>
                        <a href="{{ movie.streamLink }}">
                            <button class="btn btn-primary" style="width: 100%;">
                                Download
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9">
                    <table>
                        <tr>
                            <td><b>Director:</b></td>
                            <td>{{ movie.director }}</td>
                        </tr>
                        <tr>
                            <td><b>Casting:</b></td>
                            <td>{{ movie.cast }}</td>
                        </tr>
                        <tr>
                            <td><b>Genre:</b></td>
                            <td>{{ movie.genre }}</td>
                        </tr>
                        <tr>
                            <td><b>Release date:</b></td>
                            <td>{{ movie.releaseDate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td><b>Duration:</b></td>
                            <td>{{ movie.dureationFormatted }}</td>
                        </tr>
                        <tr>
                            <td><b>Format:</b></td>
                            <td>{{ movie.video.width }}x{{ movie.video.height }}</td>
                        </tr>
                        <tr>
                            <td><b>Resume:</b></td>
                            <td>{{ movie.plot }}</td>
                        </tr>
                        <tr>
                            <td><b>Trailer:</b></td>
                            <td>
                                <iframe src="https://www.youtube.com/embed/{{ movie.youtubeTrailer }}?controls=0"
                                        width="100%"
                                        style="height: 10em"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bg %}
    <img class="body-bg" src="{{ baseUrlAbsolute ~ movie.backdropPath[0] }}">
{% endblock %}
